*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    background-color: purple;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    text-transform: capitalize;
    padding: 5px;
    font-size: 20px;
}
 p {
     text-align: center;
 }
h5 {
    text-align: center;
    margin-top: 20px;
}


h3 {
    text-align: center;
    color: purple;
    padding: 5px;
}

p {
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 105px;
    border-radius: 50px;
    box-shadow: silver 0px 0px 10px 10px;
}

img {
    margin-top: 30px;
}

h5 {
    text-align: center;
    padding: 20px;

}